/*!
* Author: Yakir Sitbon.
* Project Url: https://github.com/KingYes/jquery-radio-image-select
* Author Website: http://www.yakirs.net/
**/
img.radio-select-img-item {
	border: solid 2px #dcdcdc;
	margin-right: 20px;
	cursor: pointer;

	&:hover {
		border: solid 2px #adff2f;
	}

	&.item-checked {
		border: solid 2px #b3d4fc;
	}
}
